.form {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Sf Pro Display', sans-serif;
}
.inputbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.dateinputbox {
  margin-top: 10px;
}
.datelabel {
  margin-right: 15px;
  margin-top: 15px
}

.upperinputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lowerinputbox {
  display: flex;
  flex-direction: column;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.nav_bar h1 {
  margin-left: 30px;
  margin-top: 15px;
}
.nav_bar .app_logo {
  width: 110.61px;
  height: 63.77px;
  left: 1619px;
  top: 145.81px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.cashtransfer {
  width: 42%;
  height: 600px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.cashtransfer:hover {
  background: rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  width: 50%;
}

.qrcode {
  width: 200px;
  height: 200px;
  left: 20%;
  top: 15px;
  margin-bottom: 20px;
  border: 3px solid white;
  filter: blur(20px);
  transition: 0.5s;
}
.qrcode:hover {
  filter: blur(0px);
}

.submit__btn {
  max-width: 100px;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  /* For pc: */
  .form {
    justify-content: space-around;
  }
  .cashtransfer {
    max-width: 47%;
    min-width: 47%;
  }
  .cashtransfer:hover {
    max-width: 100%;
  }
  .h1 {
    display: flex;
    justify-content: center;
  }
  .lowerinputbox {
    position: relative;
    align-items: center;
  }
  .uploads {
    max-width: 90%;
  }
  .submit__btn {
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cashtransfer {
    max-width: 90%;
    min-width: 90%;

  }
  .cashtransfer:hover {
    width: 90%;
  }
  .uploads {
    max-width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
}
