.container {
  box-sizing:content-box;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 30px;
  width: 570px;
  height: 550px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(130deg, rgba(0, 0, 0, 0.3) 12.7%, rgba(2, 18, 112, 0.1) 83.5%);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  margin-bottom: 16px;
  
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin: auto;
  height: 175px;
  width: 70%;
  border-radius: 15px;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0.3) 12.7%, rgba(2, 18, 112, 0.1) 83.5%);
  backdrop-filter: blur(60px);
  border-radius: 20px;
  margin-bottom: 16px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
 
}
.nav_bar:hover {
  background: rgba(20, 20, 20, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  
}

.header{
  padding: 0 0 0 0;
  margin-bottom: 5%;
  font-family: 'korataki';
  font-size: 160%;
}
.container:hover {
  background: rgba(20, 20, 20, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  
}
.img {
  position: absolute;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  top: 0;
  left: -120px;
  z-index: -1;
}
.logoContainer{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content {
  margin-top: 16px;
  position: relative;
}
.content h1 {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'korataki';
  font-size: 4rem;
}
.content p {
  font-size: 0.9rem;
}

.profContainer{
  margin-bottom: 60px;
}
.input{
 
  font-size: 120%;
}
.errorText{
  color: red;
  font-size: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
 
}
@media only screen and (max-width: 1000px) {
  /* For pc: */
  .container {
   max-width: 47%;
   min-width: 47%;
  }
  
  .form {
    position: relative;
    align-items: center;
  }
  .logoContainer{
    max-width: 47%;
    min-width: 47%;
  }
  .content {
    max-width: 47%;
    min-width: 47%;
  }
  .nav_bar{
    max-width: 47%;
    min-width: 47%;
  }
  
  
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .container {
    max-width: 90%;
    min-width: 90%;
  }
  
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
}

