
.register{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-top: 2px solid  rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    height: 900px;
    width: 650px;
}

.pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}
  
.sbutton {
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 8px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 70px;
    margin-top: 25px;
    transition: 0.2s;
  
  }

  
  .sbutton:hover {
    background: rgb(3, 0, 54);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  

.tittle1 {
    font-size: 15px;
    color: rgb(253, 253, 253);
} 

.subhead1{
    font-size: 20px;
}

.text {
  color: red;
}
.ellipse {
  position: absolute;
  width: 639px;
  height: 639px;
  left: 900px;
  top: -200px;
  border-radius: 50%;
  background: linear-gradient(130.6deg, #05f598 11.45%, #04e1f7 58.43%, #2a7bf1 105.41%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1;
}
 

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-top: 2px solid  rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.nav_bar h1 {
    margin-left: 30px;  
    margin-top: 15px;
}
.nav_bar .app_logo {
    width: 110.61px;
    height: 63.77px;
    left: 1619px;
    top: 145.81px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100px;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-top: 2px solid  rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.nav_bar h1 {
  margin-left: 30px;  
  margin-top: 15px;
}

.nav_bar .app_logo {
  width: 110.61px;
  height: 63.77px;
  left: 1619px;
  top: 145.81px;
  margin-right: 20px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 1000px) {
  /* For pc: */
  .register {
   max-width: 45%;
   min-width: 45%;
  }
  
  .nav_bar {
    display: flex;
    justify-content: center;
  }
  .input {
    position: relative;
    align-items: center;
  }
  .sbutton{
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .register {
    max-width: 90%;
    min-width: 90%;
  }
  
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
}
