.container {
  width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* ---------- Proccess Section ----------- */
.page4container {
  max-width: 80%;
  height: 80vh;
}
.process_middle {
  margin-left: 35px;
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
}
.process_bottom {
  margin-left: 50px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
}
.process_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00FB98;
  margin-left: 25px;
}
.process_ellipse6 {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00FB98;
  margin-left: 80px;
  margin-top: 20px;
}
.process_ellipse2 {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}
.process_ellipse3 {
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 35px;
  background: rgba(196, 196, 196, 0.5);
}
.process_ellipse4 {
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 20px;
  background: rgba(196, 196, 196, 0.5);
}
.process_ellipse5 {
  display: flex;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 20px;
  background: rgba(196, 196, 196, 0.5);
}
.process_line1 {
  display: flex;
  height: 23px;
  margin-left: 42px;
  margin-top: -30px;
  position: absolute;
  border: 1px solid rgba(175, 174, 174, 0);
  background-color: rgba(188, 188, 188, 0.5);
}
.process_line2 {
  display: flex;
  height: 129px;
  margin-left: 42px;
  margin-top: 20px;
  position: absolute;
  border: 1px solid rgba(175, 174, 174, 0);
  background-color: rgba(188, 188, 188, 0.5);
}
.process_line3 {
  display: flex;
  height: 129px;
  margin-left: 42px;
  margin-top: 40px;
  position: absolute;
  border: 1px solid rgba(175, 174, 174, 0);
  background-color: rgba(188, 188, 188, 0.5);
}
.process_line4 {
  display: flex;
  height: 300px;
  margin-left: 42px;
  margin-top: 40px;
  position: absolute;
  border: 1px solid rgba(175, 174, 174, 0);
  background-color: rgba(188, 188, 188, 0.5);
}
.process_text{
  margin-left: 10px;
  height: 10px;
}
.process_card_content {
  margin-top: 70px;
}
.p_content {
  /* Step 1 | Mapping week 1 The development team maps the whole project. We already have some concept on how to execute the whole system. As the client answer the Project Registration From (PRF), the team will have the rough idea on what the client wants. */

  width: 1299px;
  height: 95px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
}