.uiform{
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sf Pro Display', sans-serif;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-top: 2px solid  rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  height: 930px;
  width: 740px;
}

.pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}
.img {
  position: absolute;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  top: 0;
  left: -120px;
  z-index: -1;
}
.logoContainer{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.joinContainer{
  margin-bottom: 60px;
}

.content {
  margin-top: 16px;
  position: relative;
}
.content h1 {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'korataki';
  font-size: 4rem;
}
.content p {
  font-size: 0.9rem;
}
.buttonSub{

  display: block;
}
  

  .button:hover {
    background: rgb(3, 0, 54);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  

.text {
    color: rgb(255, 0, 0);
} 
.subHead{
  font-size: 100%;
}

.input{
  display: block;
}


.ellipse {
  position: absolute;
  width: 639px;
  height: 639px;
  left: 900px;
  top: -200px;
  border-radius: 50%;
  background: linear-gradient(130.6deg, #05f598 11.45%, #04e1f7 58.43%, #2a7bf1 105.41%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1;
}

.ellipse1 {
  position: absolute;
  width: 639px;
  height: 639px;
  right: 1419px;
  top: 200px;
  border-radius: 50%;
  background: linear-gradient(130.6deg, #05f598 11.45%, #04e1f7 58.43%, #2a7bf1 105.41%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1
}

.ellipse2 {
  position: absolute;
  width: 340px;
  height: 340px;
  right: 890px;
  top: 100px;
  border-radius: 50%;
  background: linear-gradient(130.6deg, #5f07ec 11.45%, #99089e 58.43%, #db09db 105.41%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1
}

.ellipse3 {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 880px;
  top: 500px;
  border-radius: 50%;
  background: linear-gradient(130.6deg, #5f07ec 11.45%, #99089e 58.43%, #db09db 105.41%);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1
}

@media only screen and (max-width: 1000px) {
  /* For pc: */
  .uiform {
   max-width: 47%;
   min-width: 47%;
  }
  
  .input {
    position: relative;
    align-items: center;
  }
  .buttonSub{
    position: relative;
  }
  
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  .uiform {
    max-width: 90%;
    min-width: 90%;
  }
  
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
}


