.about {
  display: flex;

  margin-left: 20px;
  margin-right: 2opx;
  margin-top: 40px;
  height: 100vh;
}

.container {
  width: auto;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-family: "Sf Pro Display", sans-serif;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}
.container h3{
  width: 400px;

  
}
.container p{
  width: 400px;
}

.container div {
  width: 100%;
}

.container img {
  height: 250px;
  width: 100%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* ------------------------------- */
.nav_bar {
  display: grid;

  grid-template-rows: 60px auto;

  align-content: center;
  justify-items: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.nav_title {
  font-size: 60px;
  width: 50%;
  text-align: center;
}
.nav_content {
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
  width: 50%;
}
.nav_team {
  height: 30%;
  width: auto;
  margin-top: 70px;
  margin-left: 2%;
  margin-right: 2%;
}
/* ----------------------------- */

@media only screen and (max-width: 1000px) {
  /* For tablets: */
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
}
@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .container {
    padding: 10px;
    width: 90vw;
  }
  .nav_title {
    font-size: 40px;
  }
  .nav_content {
    margin-top: 10%;
    font-size: 10px;
  }
}
