form {
    color: white;
    display: flex;
    justify-content: space-around;  
    font-family: "Sf Pro Display";  
}
.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-top: 2px solid  rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.nav_bar h1 {
    margin-left: 30px;  
    margin-top: 15px;
}
.nav_bar .app_logo {
    width: 110.61px;
    height: 63.77px;
    left: 1619px;
    top: 145.81px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.creditcard {
    width: 40%;
    height: 600px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-top: 2px solid  rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.creditcard:hover {
    background: rgba(0, 0, 0, 0.3);
    border-top: 2px solid  rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    width: 50%;
}
.gcash {
    width: 40%;
    height: 600px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-top: 2px solid  rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.gcash:hover {
    background: rgba(0, 0, 0, 0.3);
    border-top: 2px solid  rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    width: 50%;
}


.expdate {
    display: flex;
}

.submit__btn {
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 8px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 70px;
    margin-top: 25px;
    transition: 0.2s;
}
.submit__btn:hover {
    background: rgb(3, 0, 54);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.gcashLabel{
    margin-top: 10px;
}
.qrcode {
    position: relative;
    width: 200px;
    height: 200px;
    left: 20%;
    top: 15px;
    margin-bottom: 20px;
    border: 3px solid white;
    filter: blur(20px);
    transition: 0.5s;
}
.qrcode:hover {
    filter: blur(0px);
}

/*----- ELLIPSE -----*/
.ellipsis {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 900px;
    top: 300px;
    filter: blur(100px);
    background: #5f02bd;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
  }
.ellipsis1 {
    position: absolute;
    width: 639px;
    height: 639px;
    left: -100px;
    top: -200px;
    background: linear-gradient(130.6deg, #05F598 11.45%, #04E1F7 58.43%, #2A7BF1 105.41%);
    filter: blur(200px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
  }
.ellipsis2 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 750px;
    top: 130px;
    background: linear-gradient(186.5deg, #0B729B 13.11%, #2A7BF1 64.09%);
    filter: blur(70px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  
  /*-----------------*/