* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}
.content {
  margin-top: 16px;
}
.content p {
  padding: 0 0 0 0;
  margin: 0;
}
p#subtitle {
  font-size: 0.9rem;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background: #0d1634; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------ */
body {
  background-color: #0d1634;
}

.ellipse {
  position: absolute;
  width: 639px;
  height: 639px;
  left: 1419px;
  top: -353px;

  background: linear-gradient(130.6deg, #05f598 11.45%, #04e1f7 58.43%, #2a7bf1 105.41%);
  opacity: 0.6;
  filter: blur(100px);
}
/* ------------------------------ */

.lm_button {
  /* button */
  color: white;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 87px;

  position: static;
  width: 276px;
  height: 52px;
  left: 41px;
  top: 395px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 108px 0px;
}

.Learnmore {
  /* card */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 39px 41px;

  position: static;
  width: 358px;
  height: 486px;
  left: 0px;
  top: 0px;

  background: linear-gradient(126deg, rgba(38, 129, 235, 0.4) 12.7%, rgba(25, 45, 106, 0.4) 83.5%);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 95px;
}

.LMCard {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1264px;
  height: 486px;
  left: 328px;
  top: 366px;
}
.lm_img {
  /* icon */
  font-size: 40px;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  position: static;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 22px 0px;
}
.lm_content {
  /* Need applications that you demand? We are a professional group with high expertise. A company that specializes on providing high-end web solutions. */

  position: static;
  width: 276px;
  height: 144px;
  left: 0px;
  top: 82px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 22px 0px;
}
/* -------------------------- */
.ProcessCard {
  /* card */

  border: 1px solid;

  border-image-source: radial-gradient(61.01% 61.01% at 96.95% 100%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(53.67% 86.38% at 0% 9.17%, #ffffff 0%, rgba(255, 255, 255, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;

  width: 1347px;
  height: 143px;

  background: linear-gradient(126deg, rgba(38, 129, 235, 0.1) 12.7%, rgba(25, 45, 106, 0.1) 83.5%);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
.p_content {
  /* Step 1 | Mapping week 1 The development team maps the whole project. We already have some concept on how to execute the whole system. As the client answer the Project Registration From (PRF), the team will have the rough idea on what the client wants. */

  width: 1299px;
  height: 95px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
}
/* --------------------- */
.PricingCard {
  /* rectangle glass */

  width: 401.21px;
  height: 553.31px;

  background: linear-gradient(126deg, rgba(1, 118, 255, 0.4) 45.52%, rgba(25, 45, 106, 0.4) 83.5%);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
.PriceCard {
  /* Frame 24 */

  width: 447.01px;
  height: 553.31px;
  left: 190.17px;
  top: 277.02px;
}
.pri_card {
  /* Android/IOS */

  position: absolute;
  width: 333.96px;
  height: 73.52px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  color: #ffffff;
}
.pri_card1 {
  /* $ 400 */

  position: absolute;
  width: 309.31px;
  height: 49.01px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}
.pri_card2 {
  /* Price may vary depending on the features and complexity of the system. */

  position: absolute;
  width: 301px;
  height: 73px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #fffcfc;

  mix-blend-mode: normal;
}
.pri_card3 {
  /* Examples: Social Media Apps GPS */

  position: absolute;
  width: 301.15px;
  height: 35.03px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #fffcfc;

  mix-blend-mode: normal;
}
/* -------------------------- */
.navbar {
  position: sticky;
  font-family: 'SF Pro Display';
  top: 0;
  width: 100%;
  background-color: #04e3f738;
  backdrop-filter: blur(40px);
}

.navbar a {
  font-size: 0.8rem;
}

.navv {
  /* display: flex; */
  justify-content: center;
}

.ellipse3 {
  /* Ellipse 10 */

  position: absolute;
  width: 345px;
  height: 345px;
  left: 156px;
  top: 161px;

  background: linear-gradient(130.6deg, #05f598 11.45%, #04e1f7 58.43%, #2a7bf1 105.41%);
  opacity: 0.6;
  filter: blur(100px);

  z-index: -1;
}

.ellipse4 {
  /* Ellipse 8 */

  position: absolute;
  width: 342px;
  height: 342px;
  left: 1304.3px;
  top: 700.89px;

  background: linear-gradient(224.66deg, #0b9b99 12.72%, #192d6a 88.06%);
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(-130.1deg);
  z-index: -1;

}

.slogan-container {
  display: flex;
  padding: 100px;
}

.slogan {
  /* company slogan */

  width: 557px;
  height: 80px;
  /* left: 177px; */
  /* top: 203px; */

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  padding-right: 150px;
  /* or 40px */
  text-align: left;
  color: #ffffff;
}

.slogan2 {
  width: 748px;
  height: 156px;
  padding-right: 20px;
  /* left: 995px; */
  /* top: 203px; */

  font-family: 'SF Pro Display';
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;

  color: #ffffff;
}

.off {
  display: none;
}

.on {
  display: block;
}

footer {
  font-family: 'SF Pro Display';
  color: white;
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  footer {
    color: #04e1f7;
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  footer {
    color: #05f598;
  }
}
